<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}">

</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments::navbar}">
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="~{fragments::sidebar}">
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Manager </h3>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Product Manager
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#addProduct">
                                        Add
                                    </button>

                                    <!-- Modal Add Product-->
                                    <div class="modal fade" id="addProduct" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <form th:action="@{/add-product}" method="post" class="forms-sample"
                                              enctype="multipart/form-data" th:object="${product}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Add product</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="productName">Product name</label>
                                                            <input th:field="*{productName}" type="text"
                                                                   class="form-control"
                                                                   id="productName" placeholder="Product name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="costPrice">Cost price</label>
                                                            <input th:field="*{costPrice}" type="text"
                                                                   class="form-control"
                                                                   id="costPrice" placeholder="Cost price">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="salePrice">Sale price</label>
                                                            <input th:field="*{salePrice}" type="text"
                                                                   class="form-control"
                                                                   id="salePrice" placeholder="Sale price">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <input th:field="*{description}" type="text"
                                                                   class="form-control"
                                                                   id="description" placeholder="Description">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="quantity">Quantity</label>
                                                            <input th:field="*{quantity}" type="text"
                                                                   class="form-control"
                                                                   id="quantity" placeholder="Quantity">
                                                        </div>
                                                        <!-- category -->
                                                        <!-- Select Basic -->
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="categories">Category</label>
                                                            <div class="col-md-4">
                                                                <select id="categories" th:field="*{category}"
                                                                        name="categories" class="form-control">
                                                                    <option th:value="null">-Select-</option>
                                                                    <option th:each="categoryChoose : ${categories}"
                                                                            th:value="${categoryChoose.id}"
                                                                            th:text="${categoryChoose.categoryName}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- image product -->
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <!-- File Button -->
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label"
                                                                           for="imageProduct">Image Product</label>
                                                                    <div class="col-md-4">
                                                                        <input id="imageProduct" name="imageProduct"
                                                                               class="input-file" type="file">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Save changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </h4>
                                <div th:if="${size == 0}" class="alert alert-warning text-center">
                                    No Product
                                </div>

                                <div th:if="${fail}" class="alert alert-warning text-center" th:text="${fail}">

                                </div>
                                <div th:if="${success}" class="alert alert-warning text-center" th:text="${success}">

                                </div>

                                <table th:if="${size != 0}" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> Name</th>
                                        <th> Category</th>
                                        <th> Cost price</th>
                                        <th> Quantity</th>
                                        <th> Image</th>
                                        <th> Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products}">
                                        <td th:text="*{product.id}"></td>
                                        <td th:text="*{product.productName}"></td>

                                        <td th:if="*{product.category != null}"
                                            th:text="*{product.category.categoryName}"></td>
                                        <td th:if="*{product.category == null}">No category</td>

                                        <td th:text="*{product.costPrice}"></td>
                                        <td th:text="*{product.quantity}"></td>
                                        <td><img th:src="@{'data:image/jpeg;base64,' + ${product.image}}" alt=""
                                                 style="height: 40px; width: 40px;"></td>
                                        <td>
                                            <a th:if="${product.is_deleted() == true}"
                                               th:href="@{/enable-product(id = ${product.id})}" class="btn btn-primary">Active</a>
                                            <a th:if="${product.is_activated() == true}"
                                               th:href="@{/delete-product(id = ${product.id})}" class="btn btn-warning">Delete</a>
                                            <a id="btnUpdateProduct" th:href="@{/update-product(id = ${product.id})}"
                                               class="btn btn-primary">Update</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer th:replace="~{fragments::footer}">

            </footer>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>


<!-- container-scroller -->
<head th:replace="~{fragments::script}">
</head>
<script th:src="@{/js/categories.js}"></script>
</body>
</html>