<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header}">
</head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <img th:src="@{/images/logo.svg}">
                </div>
                <h4>New here?</h4>
                <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>

                <div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>

                <form class="pt-3" th:action="@{/do-register}" method="post" th:object="${adminDto}">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" th:field="*{firstName}" id="firstName" placeholder="First Name">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" th:field="*{lastName}" id="lastName" placeholder="Last Name">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" th:field="*{username}" id="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" th:field="*{password}" id="password" placeholder="Password">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" th:field="*{repeatPassword}" id="repeatPassword" placeholder="Repeat Password">
                  </div>
                  <div class="mt-3">
                    <input class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit" value="SIGN UP"></input>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Already have an account? <a th:href="@{/login}" class="text-primary">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <head th:replace="~{fragments::script}">
    </head>
  </body>
</html>