<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->

<!-- Breadcrumb Start -->
<div th:replace="~{fragments::breadcrumb}">
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-6" style="background-color: #fff;">
            <div th:if="${session.cartItems.size() != 0}" class="border" style="border: 1px solid #e3e9ef !important; margin: 20px 0;">
                <div th:each="cartItem : ${session.cartItems}"
                        id="cart-item-1787"
                        class="justify-content-between py-3 px-2 px-lg-4"
                >
                    <div class="d-flex align-items-end">
                        <div>
                            <div class="d-flex">
                                <div class="border h-100 w-50 mb-auto">
                                    <div
                                            class="my-auto py-4 d-flex justify-content-center h-100"
                                    >
                                        <img
                                                style="max-width: 70%"
                                                class="my-auto mt-4"
                                                th:src="@{'data:image/jpeg;base64,' + ${cartItem.productDto.image}}"
                                                th:alt="${cartItem.productDto.productName}"
                                        />
                                    </div>
                                </div>
                                <div class="pl-3">
                                    <h6 class="text-black h5-sm" th:text="${cartItem.productDto.productName}"></h6>
                                    <div
                                            class="d-flex justify-content-between align-items-center my-2"
                                    >
                                        <div>
                                            <p th:text="'Ram : ' + ${cartItem.memory.name}"></p>
                                            <p th:text="'Storage : ' + ${cartItem.storage.name}"></p>
                                            <p th:text="'Color : ' + ${cartItem.color.name}"></p>
                                        </div>
                                        <div class="d-none d-lg-block">
                                            <h6
                                                    class="text-danger text-right h5-sm mr-2 total-price-after-discount-1787"
                                            th:text="'$' + ${cartItem.totalPrice}" >
                                            </h6>
                                        </div>
                                    </div>
                                    <div
                                            class="d-lg-flex d-block justify-content-between align-items-center"
                                    >
                                        <h6
                                                class="text-black w-100 h5-sm"
                                                id="label-quantity-1787" style="margin-bottom: 0;"
                                                th:text="'Quantity: X ' + ${cartItem.quantity}">
                                        </h6>

                                        <div class="input-group quantity mx-auto">
                                            <div class="input-group-btn">
                                                <a th:if="${cartItem.quantity == 0}" th:href="@{/remove-item-to-cart/{id}(id = ${cartItem.productDto.id}, color = ${cartItem.color.code}, storage = ${cartItem.storage.code})}" class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                                <a th:if="${cartItem.quantity != 0}" th:href="@{/update-item-to-cart/{id}(id = ${cartItem.productDto.id}, quantity = ${cartItem.quantity - 1}, color = ${cartItem.color.code}, storage = ${cartItem.storage.code})}" class="btn btn-sm btn-primary btn-minus">
                                                    <i class="fa fa-minus"></i>
                                                </a>

                                            </div>
                                            <input id="quantityProduct" type="text"
                                                   class="form-control form-control-sm bg-secondary border-0 text-center"
                                                   th:value="${cartItem.quantity}">
                                            <div class="input-group-btn">
                                                <a class="btn btn-sm btn-primary btn-plus" th:href="@{/update-item-to-cart/{id}(id = ${cartItem.productDto.id}, quantity = ${cartItem.quantity + 1}, color = ${cartItem.color.code}, storage = ${cartItem.storage.code})}">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${session.cartItems.size() == 0}"
                    id="empty-cart-view"
                    class="d-flex justify-content-center align-items-center"
                    style="height: 50vh; !important"
            >
                <div class="text-center justify-content-center">
                    <img
                            src="https://soklyphone.com/icons/empty-cart.svg"
                            alt="empty-cart"
                    />
                    <h5 class="mt-2" style="color: #c8cbcd !important">
                        Cart Is Empty
                    </h5>
                    <p style="color: #c8cbcd !important">
                        Fill Your Cart With Our Products Now !
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input
                            type="text"
                            class="form-control border-0 p-4"
                            placeholder="Coupon Code"
                    />
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3">
                <span class="bg-secondary pr-3">Cart Summary</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6 th:if="${session.shoppingCart == null}">$0</h6>
                        <h6 th:if="${session.shoppingCart != null}" th:text="'$' + ${session.shoppingCart.totalPrice}"></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$0</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5 th:if="${session.shoppingCart == null}">$0</h5>
                        <h5 th:if="${session.shoppingCart != null}" th:text="'$' + ${session.shoppingCart.totalPrice}"></h5>
                    </div>
                    <button
                            class="btn btn-block btn-primary font-weight-bold my-3 py-3"
                    >
                        Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->


<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
</body>
</html>
