<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>
<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->

<div class="container-fluid" style="padding: 20px;
    background-color: #fff;">
    <div class="row d-flex justify-content-center my-lg-5 my-3">
        <div class="col-md-6">
            <h1 style="text-align: center">Forgot Password</h1>
            <p class="alert alert-danger" th:if="${message}" th:text="${message}">

            </p>
            <form th:action="@{/reset-password}" method="post">
                <div class="text-center mb-3">
                    <p>Sign in with:</p>
                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Enter your user account's verified email address
                    </label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email." />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p><a th:href="@{/login}">Login</a></p>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
</body>

</html>