<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->

<main class="main-myuser">
    <div class="content-page py-3">
        <div class="container pb-5">
            <h5 class="home-title text-primary mb-lg-5 font-weight-medium"></h5>
            <div class="row">
                <div class="col-lg-4 pt-4 pt-lg-0">
                    <div th:replace="~{fragments::sidebar-user}"></div>
                </div>
                <div class="col-lg-8">
                    <div class="d-flex justify-content-between align-items-center pb-4 pb-lg-3 mb-lg-3">
                        <h3 class="m-0 p-0" style="font-size: 25px; color: #144194">
                            Personal Information
                        </h3>
                    </div>
                    <form action="https://soklyphone.com/account/profile/avatar/update" method="POST" class id="avatar-form"
                          enctype="multipart/form-data">
                        <div class="bg-secondary rounded-lg p-4 mb-4">
                            <div class="avatar-wrapper">
                                <div id="avatar-controls" class="media align-items-center px-4">
                                    <img class="rounded-circle" src="https://soklyphone.com/img/avatar.jpeg" width="90" alt="avatar" />
                                    <div class="media-body pl-3">
                                        <button type="button" class="btn btn-light btn-shadow btn-sm mb-2" id="change-avatar"
                                                data-toggle="modal" data-target="#choose-modal">
                                            <i class="czi-loading mr-2"></i>Change avatar
                                        </button>
                                        <div class="p mb-0 font-size-ms text-muted">
                                            Upload JPG, PNG image required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p class="alert alert-success" style="margin-top: 10px;" th:if="${message}" th:text="${message}"></p>
                    <form th:action="@{/account/profile}" method="post" th:object="${customer}">
                        <div class="row px-4">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstName" class>First Name</label>
                                    <input type="text" name="firstName" th:field="*{firstName}" id="firstName" placeholder="Enter your first name" class="form-control" />
                                    <p class="alert alert-danger" th:errors="*{firstName}" style="margin-top: 10px;"
                                       th:if="${#fields.hasErrors('firstName')}"></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastName" class>Last Name</label>
                                    <input type="text" th:field="*{lastName}" name="lastName" id="lastName" placeholder="Enter your last name" class="form-control" />
                                    <p class="alert alert-danger" th:errors="*{lastName}" style="margin-top: 10px;"
                                       th:if="${#fields.hasErrors('lastName')}"></p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="birthday" class>Birthday</label>
                                    <input type="date" name="birthday" th:field="*{birthDate}" id="birthday" placeholder="Enter your birthday" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email" class>Email</label>
                                    <input type="email" id="email" name="email" th:field="*{email}" placeholder="Enter your email" class="form-control" />
                                    <p class="alert alert-danger"  style="margin-top: 10px;" th:if="${emailError}" th:text="${emailError}"></p>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="phone" class>Phone Number</label>
                                    <input th:field="*{phone}" type="text" id="phone" name="phone" placeholder="Enter your phone number" class="form-control" />
                                    <p class="alert alert-danger"  style="margin-top: 10px;" th:if="${phoneError}" th:text="${phoneError}"></p>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-lg-4">
                                <label>Address</label>
                                <textarea name="address" th:field="*{address}" class="form-control" placeholder="Enter your address"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mt-2 mb-3" />
                            <div class="d-flex flex-wrap justify-content-center align-items-center mb-4 py-4">
                                <button type="submit" class="btn btn-primary mt-3 mt-sm-0 px-5">
                                    Update
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
</body>

</html>