<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "116113254848087");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v17.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->


<!-- Breadcrumb Start -->
<div th:replace="~{fragments::breadcrumb}">
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" th:src="@{'data:image/jpeg;base64,' + ${product.image}}" alt="Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <body th:if="${success}" onload="addToCartSuccess()"></body>
                <body th:if="${fail}" onload="addToCartFail()"></body>
                <form th:action="@{/add-to-cart/{id}(id = ${product.id})}" method="post">
                    <h3 th:text="${product.productName}"></h3>
                    <h3 class="font-weight-semi-bold mb-4" th:if="${price}" th:text="'$' + ${price}"></h3>
                    <h3 class="font-weight-semi-bold mb-4" th:if="${price == null}"
                        th:text="'$' + ${product.costPrice}"></h3>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" name="quantity" id="quantity"
                                   class="form-control bg-secondary border-0 text-center" value="1"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <body th:if="${addFavoriteSuccess}" onload="addFavoriteSuccess()"></body>
                        <body th:if="${removeFavoriteSuccess}" onload="removeFavoriteSuccess()"></body>
                        <button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add
                            To
                            Cart
                        </button>
                        <a th:if="${isFavorite != null}"
                           th:href="@{/account/remove-favorite/{productId} (productId = ${product.id})}" type="button"
                           style="margin-left: 20px;" class="btn btn-primary px-3"><i class="far fa-heart"></i> Remove
                            To
                            Favorite
                        </a>
                        <a th:if="${isFavorite == null}"
                           th:href="@{/account/add-favorite/{productId} (productId = ${product.id})}" type="button"
                           style="margin-left: 20px;" class="btn btn-primary px-3"><i class="far fa-heart"></i> Add To
                            Favorite
                        </a>
                    </div>
                </form>
                <p class="alert alert-info" th:if="${error}" th:text="${error}"/>
                <div class="d-flex mb-4" th:if="${storages}">
                    <strong class="text-dark mr-3">Storages:</strong>
                    <form th:action="@{/product/{id}(id = ${product.id})}" method="get">
                        <button th:each="storage: ${storages}" name="storageCode" th:value="${storage.code}"
                                type="submit" class="btn btn-outline-info"
                                th:classappend="${session.storageChoose == storage.getCode() ? 'active' : ''}"
                                th:text="${storage.name}"/>
                    </form>
                </div>

                <div class="d-flex mb-4" th:if="${colors}">
                    <strong class="text-dark mr-3">Colors:</strong>
                    <form th:action="@{/product/{id}(id = ${product.id})}" method="get">
                        <input type="hidden" name="storageCode" th:value="${session.storageChoose}">
                        <button th:each="color: ${colors}" name="colorCode" th:value="${color.code}" type="submit"
                                class="btn btn-outline-info"
                                th:classappend="${session.colorChoose == color.getCode() ? 'active' : ''}"
                                th:text="${color.name}"/>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#show-description">Description</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#show-review">Review</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="show-description">
                        <p id="showDescription" th:utext="${product.description}">
                        </p>
                    </div>
                    <input type="hidden" id="idProductComment" th:value="${product.id}">
                    <div class="tab-pane fade" id="show-review">
                        <form id="formSubmit">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">[[${product.comments.size()}]] review for
                                    "[[${product.productName}]]"</h4>
                                <div class="media mb-4" th:each="comment : ${product.comments}">
                                    <div class="media-body">
                                        <h6 th:text="${comment.fullName}"><small> - <i
                                                th:text="${comment.commentDate}"></i></small>
                                        </h6>
                                        <div class="text-primary mb-2">
                                            <i th:each="i : ${#numbers.sequence(1, 5)}" class="fa-star"
                                               th:classappend="${i <= comment.stars ? 'fas' : 'far'}"></i>
                                        </div>
                                        <p th:text="${comment.content}">
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="stars"
                                                       id="inlineRadio1" value="1"/>
                                                <label class="form-check-label" for="inlineRadio1">1</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="stars"
                                                       id="inlineRadio2" value="2"/>
                                                <label class="form-check-label" for="inlineRadio2">2</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="stars"
                                                       id="inlineRadio3" value="3"/>
                                                <label class="form-check-label" for="inlineRadio3">3</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="stars"
                                                       id="inlineRadio4" value="4"/>
                                                <label class="form-check-label" for="inlineRadio4">4</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="stars"
                                                       id="inlineRadio5" value="5" checked/>
                                                <label class="form-check-label" for="inlineRadio5">5</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <textarea id="content" cols="30" rows="5" name="content"
                                                  class="form-control"
                                                  placeholder="Please comment or ask questions"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="fullName" name="fullName" class="form-control"
                                               placeholder="Full name"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="email" name="email" class="form-control"
                                               placeholder="Email"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                                               placeholder="Phone"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="comment" value="Comment"
                                               class="btn btn-primary px-3"/>
                                    </div>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Shop Detail End -->


<!-- Category Same -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                <div class="product-item bg-light" th:each="product : ${products}">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" th:src="@{'data:image/jpeg;base64,' + ${product.image}}"
                             alt="Image">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" th:href="@{/product/{id}(id = ${product.id})}"><i
                                    class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" th:href="@{/product/{id}(id = ${product.id})}"
                           th:text="${product.productName}"></a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5 th:text="'$' + ${product.salePrice}"></h5>
                            <h6 class="text-muted ml-2">
                                <del th:text="'$' + ${product.costPrice}"></del>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->


<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
<script th:inline="javascript">

    $('#comment').click(function (e) {
        e.preventDefault();
        let data = {};
        let formData = $('#formSubmit').serializeArray();

        $.each(formData, function (i, v) {
            data["" + v.name + ""] = v.value;
        });
        console.log(data);

        let id = $('#idProductComment').val();

        createComment(id, data);
    });

    function createComment(productId, data) {
        $.ajax({
            url: `http://phoneshop.azurewebsites.net/shop/product/${productId}/comment`,
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (result) {
                swal({
                    title: "Success!",
                    text: "Create comment successfully!",
                    icon: "success",
                    button: "Close!",
                }).then((value) => {
                    window.location.href = `http://phoneshop.azurewebsites.net/shop/product/${result.id}`;
                });
            },
            error: function (error) {
                swal({
                    title: "Error!",
                    text: "The server has been errors!",
                    icon: "error",
                });
            }
        });
    }

    function addToCartSuccess() {
        swal({
            title: "Cart!",
            text: "Add item to cart successfully!",
            icon: "success",
            button: "Close!",
        });
    }

    function addToCartFail() {
        swal({
            title: "Cart!",
            text: "This item is temporarily out of stock!",
            icon: "error",
            button: "Close!",
        });
    }

    function addFavoriteSuccess() {
        swal({
            title: "Favorite!",
            text: "Added to favorites",
            icon: "success",
            button: "Close!",
        });
    }

    function removeFavoriteSuccess() {
        swal({
            title: "Favorite!",
            text: "removed to favorites",
            icon: "success",
            button: "Close!",
        });
    }

</script>
</body>

</html>