<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>
<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->

<!-- Breadcrumb Start -->
<div th:replace="~{fragments::breadcrumb}">
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Product Start -->
        <div class="col-lg-12 col-md-12" th:if="${products.size != 0}">
            <div class="row pb-3">
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="product : ${products}">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" th:src="@{'data:image/jpeg;base64,' + ${product.image}}"
                                 alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" th:href="@{/product/{id}(id = ${product.id})}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""
                               th:text="${product.productName}"></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5 th:text="'$' + ${product.salePrice}"></h5>
                                <h6 class="text-muted ml-2">
                                    <del th:text="'$' + ${product.costPrice}"></del>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12" th:if="${products.size == 0}">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px;">
                <img th:src="@{/img/no-result.png}">
                <p style="font-weight: 900;">No matching products found</p>
                <p class="fs-senull-l3">Please adjust the filter again</p>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->


<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
</body>

</html>