<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>

<div class="container-fluid" style="padding: 20px;
    background-color: #fff;">
    <div class="row d-flex justify-content-center my-lg-5 my-3">
        <div class="col-md-6">
            <h1 style="text-align: center">Create New Password</h1>
            <p class="alert alert-danger" th:if="${message}" th:text="${message}">
            </p>
            <form th:action="@{/reset-password-new}" method="get" th:object="${resetPassword}">
                <input type="hidden" name="email" id="email" th:value="${yourEmail}" class="form-control"/>
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" th:field="*{password}" id="password" class="form-control"/>
                    <div class="alert alert-danger" style="margin-top: 10px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="repeatPassword">Repeat Password</label>
                    <input type="password" th:field="*{repeatPassword}" id="repeatPassword" class="form-control"/>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </form>
        </div>

    </div>
</div>

<div th:replace="~{fragments::script}"></div>
</body>

</html>