<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments::header}">
</head>

<body>
<!-- Topbar Start -->
<div th:replace="~{fragments::topbar}"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments::navbar}"></div>
<!-- Navbar End -->

<!-- Breadcrumb Start -->
<div th:replace="~{fragments::breadcrumb}">
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Category Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by categories</span>
            </h5>
            <div class="bg-light p-4 mb-30">
                <form th:action="@{/products}" method="get">
                    <input type="hidden" name="pageNo" value="0">
                    <input type="hidden" name="brand"
                           th:if="${session.productFilter.brand != null && !session.productFilter.brand.equals('all')}"
                           th:value="${session.productFilter.brand}">

                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input style="display: none;" type="submit" name="category" value="all"
                               class="custom-control-input"
                               id="category-all">
                        <input type="checkbox" class="custom-control-input"
                               th:checked="${session.productFilter.category == 'all'}">
                        <label class="custom-control-label" for="category-all">All</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                         th:each="category: ${categories}">
                        <input style="display: none;" type="submit" name="category" class="custom-control-input"
                               th:id="'category-' + ${category.categoryCode}" th:value="${category.categoryCode}"
                        >
                        <input type="checkbox" class="custom-control-input"
                               th:checked="${session.productFilter.category == category.categoryCode}">
                        <label class="custom-control-label" th:for="'category-' + ${category.categoryCode}"
                               th:text="${category.categoryName}"></label>
                    </div>
                </form>
            </div>
            <!-- Category End -->

            <!-- Brand Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by brands</span>
            </h5>
            <div class="bg-light p-4 mb-30">
                <form th:action="@{/products}" method="get">

                    <input type="hidden" name="pageNo" value="0">
                    <input type="hidden" name="category"
                           th:if="${session.productFilter.category != null && !session.productFilter.category.equals('all')}"
                           th:value="${session.productFilter.category}">

                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input style="display: none;" type="submit" name="brand" value="all"
                               class="custom-control-input"
                               id="brand-all">
                        <input type="checkbox" class="custom-control-input"
                               th:checked="${session.productFilter.brand == 'all'}">
                        <label class="custom-control-label" for="brand-all">All</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3"
                         th:each="brand: ${brands}">
                        <input style="display: none;" type="submit" name="brand" th:value="${brand.code}"
                               class="custom-control-input"
                               th:id="'brand-' + ${brand.code}"
                               th:checked="${session.productFilter.brand == brand.code}">
                        <input type="checkbox" class="custom-control-input"
                               th:checked="${session.productFilter.brand == brand.code}">
                        <label class="custom-control-label" th:for="'brand-' + ${brand.code}"
                               th:text="${brand.name}"></label>
                    </div>
                </form>
            </div>
            <!-- Brand End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle"
                                        data-toggle="dropdown">Sorting
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"
                                       th:href="@{/products(pageNo = ${session.productFilter.pageNo}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand})}">All</a>
                                    <a class="dropdown-item"
                                       th:href="@{/products(pageNo = ${session.productFilter.pageNo}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = 'salePrice', sortType = 'asc')}">High
                                        Price</a>
                                    <a class="dropdown-item"
                                       th:href="@{/products(pageNo = ${session.productFilter.pageNo}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = 'salePrice', sortType = 'desc')}">Low
                                        Price</a>
                                    <a class="dropdown-item"
                                       th:href="@{/products(pageNo = ${session.productFilter.pageNo}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = 'productName', sortType = 'asc')}">A-Z</a>
                                    <a class="dropdown-item"
                                       th:href="@{/products(pageNo = ${session.productFilter.pageNo}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = 'productName', sortType = 'desc')}">Z-A</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 pb-1" th:each="product : ${products}">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" th:src="@{'data:image/jpeg;base64,' + ${product.image}}"
                                 alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href=""><i
                                        class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""
                               th:text="${product.productName}"></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5 th:text="${product.salePrice}"></h5>
                                <h6 class="text-muted ml-2">
                                    <del th:text="${product.costPrice}"></del>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li th:if="${currentPage != 0}" class="page-item"><a
                                    th:href="@{/products(pageNo = ${currentPage - 1}, category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = ${session.productFilter.sortBy}, sortType = ${session.productFilter.sortType})}" class="page-link"
                                    href="#">Previous</a></li>
                            <li th:each="i : ${#numbers.sequence(1, totalPage)}"
                                th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                                class="page-item">
                                <a th:href="@{/products(pageNo = ${i - 1} , category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = ${session.productFilter.sortBy}, sortType = ${session.productFilter.sortType})}" class="page-link" href="#"><span
                                        th:text="${i}"></span></a></li>
                            <li th:if="${currentPage + 1 != totalPage}" class="page-item"><a
                                    th:href="@{/products(pageNo = ${currentPage + 1} , category = ${session.productFilter.category}, brand = ${session.productFilter.brand}, sortBy = ${session.productFilter.sortBy}, sortType = ${session.productFilter.sortType})}" class="page-link"
                                    href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->


<!-- Footer Start -->
<div th:replace="~{fragments::footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a th:replace="~{fragments::back-to-top}"></a>

<div th:replace="~{fragments::script}"></div>
</body>

</html>